# EditorConfig - Padrões de código IFDESK
# https://editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.{js,mjs}]
indent_size = 2
max_line_length = 120

[*.{html,css}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
max_line_length = off

[*.json]
indent_size = 2

[*.py]
indent_size = 4

[*.{yml,yaml}]
indent_size = 2

[*.ps1]
indent_size = 4
end_of_line = crlf

# Arquivos que não devem ser editados
[{package-lock.json,*.min.js,*.min.css}]
indent_style = ignore
insert_final_newline = ignore
